{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>
    

    


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    {% for m in Markaz %}
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{{ m.rasm.url }}" style="object-fit: cover;">
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Biz haqimizda</h6>
                        <h1 class="display-4">Biz haqimizda</h1>
                    </div>
                    {% for m in Markaz %}
                    <p>{{ m.malumot }}</p>
                    <div class="row pt-3 mx-0">
                        {% for m in Markaz %}
                        <div class="col-md-3 col-sm-6 col-6 px-0">
                            <div class="bg-success text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{ m.oquvchilar }}</h1>
                                <h6 class="text-uppercase text-white">O'quvchilar</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{ m.yonalishlar }}</h1>
                                <h6 class="text-uppercase text-white">Yo'nalishlar</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{ m.kurslar }}</h1>
                                <h6 class="text-uppercase text-white">Kurslar</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 px-0">
                            <div class="bg-warning text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{ m.hodimlar }}</h1>
                                <h6 class="text-uppercase text-white">Hodimlar</h6>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- About End -->


 <!-- Team Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="section-title text-center position-relative mb-5">
            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Kurslar</h6>
            <h1 class="display-4">Kurslar ro‘yxati</h1>
        </div>
        
        <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
            {% for k in Kurslar %}
            <div class="team-item">
                <img class="img-fluid w-100" src="{{ k.rasm.url }}" alt="">
                <div class="bg-light text-center p-4">
                    <h5 class="mb-3">Kurs nomi: {{ k.nomi }}</h5>
                    <p class="mb-2">Kurs davomiyligi: {{ k.kurs_davomiyligi }}</p>
                    <p class="mb-2">Dars davomiyligi: {{ k.dars_davomiyligi }}</p>
                    <p class="mb-2">Kurs narxi: {{ k.narxi }}</p>
                    <p class="mb-2">O'qituvchi: {{ k.oqituvchi }}</p>
                    <div class="d-flex justify-content-center">
                        <a class="mx-1 p-1 btn btn-primary" href="tel: {{ k.boglanish }}" style="width: 100%;">
                            <i class="fas fa-phone mr-2"></i>Bog'lanish
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>


<!-- Team End -->



<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    
                    <h1 class="display-4">Jamoa</h1>
                </div>
                <p class="m-0">Kelajak-edu kasb-hunar maktabi jamoasi</p>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel">
                    {% for jamoa in Jamoa %}
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>Lavozim: {{ jamoa.vazifa }}</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                            <img class="img-fluid mr-4" src="{{ jamoa.rasm.url }}" alt="{{ jamoa.ism_sharif }}">
                            <div>
                                <h5>Ism sharif: {{ jamoa.ism_sharif }}</h5>
                                {% if jamoa.telegram %}
                                <span>{{ jamoa.telegram }}</span>
                                {% endif %}
                                {% if jamoa.telefon %}
                                <span>{{ jamoa.telefon }}</span>
                                {% endif %}
                                {% if jamoa.instagram %}
                                <span>{{ jamoa.instagram }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Galereya</h6>
                <h1 class="display-4">Galereya</h1>
            </div>
        </div>
    </div>
    
    <div class="owl-carousel courses-carousel">
        {% for rasm in Galereya %}
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{{ rasm.rasm.url }}" alt="">
            <div class="courses-text">
                {% comment %} <h4 class="text-center text-white px-3">Web design & development courses for beginners</h4> {% endcomment %}
                {% comment %} <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>Jhon Doe</span>
                        <span class="text-white"><i class="fa fa-star mr-2"></i>4.5 <small>(250)</small></span>
                    </div>
                </div> {% endcomment %}
                <div class="w-100 bg-white text-center p-4" >
                    {% for m in Markaz %}
                    <a class="btn btn-primary" href="tel: {{ m.boglanish }}">Bizga qo'shiling</a>
                    {% endfor %}
                </div>
            </div>
        </div>
       {% endfor %} 
        
        
        
        
    </div>
    

</div>


    <!-- Contact Start -->
    {% comment %} <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-primary mr-4">
                                <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Our Location</h4>
                                <p class="m-0">123 Street, New York, USA</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-secondary mr-4">
                                <i class="fa fa-2x fa-phone-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Call Us</h4>
                                <p class="m-0">+012 345 6789</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-icon bg-warning mr-4">
                                <i class="fa fa-2x fa-envelope text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Email Us</h4>
                                <p class="m-0">info@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Need Help?</h6>
                        <h1 class="display-4">Send Us A Message</h1>
                    </div>
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Contact End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

</body>

</html>


{% endblock %}